.input-entrar {
    width: 220px;
    height: 30px;
    display: block;
    margin: 2px auto;
    box-shadow: none;
    border: none;
    text-align: center;
    clear: both;
    border: 1px solid #ddd6d6;
}

.input-entrar:focus {
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border: 1px inset blue;
    border-radius: 5px;
    color: blue;
}

.bckgrnd-input {
    background: rgb(232, 240, 254);
}

.dia-mes {
    width: 52px;
    height: 32px;
    text-align: center;
    background: rgb(232, 240, 254);
    border-radius: 5px;
    border: 1px solid #ddd6d6;
}

.dia-mes:focus {
    outline: none;
    border: 1px inset blue;
    border-radius: 5px;
    color: blue;
}

.outline-none:focus {
    outline: none;
}

.div-centro {
    display: block;
    width: 220px;
    margin: 0 auto;
    text-align: justify;
}

.genero {
    width: 216px;
    height: 34px;
    text-align: center;
    margin-top: 5px;
    background: rgb(232, 240, 254);
    border: 1px solid #ddd6d6;
    border-radius: 5px;
}

.genero:focus {
    outline: none;
    border: 1px inset blue;
    border-radius: 5px;
    color: blue;
}

.mes {
    width: 100px;
    height: 34px;
    text-align: center;
    background: rgb(232, 240, 254);
    border-radius: 5px;
    border: 1px solid #ddd6d6;
}

.mes:focus {
    outline: none;
    border: 1px inset blue;
    border-radius: 5px;
    color: blue;
}