 .inputfile {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
 }
 
 .inputfile+label {
     font-size: 1.07em;
     font-weight: 700;
     color: white;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 3px;
     position: relative;
     border-radius: 5px;
 }
 
 .inputfile:focus+label {
     background-color: #000;
 }
 
 .inputfile+label:hover {
     background-color: #000099;
 }
 
 .inputfile+label {
     cursor: pointer;
     /* "hand" cursor */
 }
 
 .inputfile:focus+label {
     outline: 1px dotted #000099;
     outline: -webkit-focus-ring-color auto 5px;
 }
 
 .img-up {
     width: 30px;
     position: absolute;
     top: 3px;
     left: 5px
 }
 
 .img-up,
 .span-up {
     display: inline-block
 }
 
 .logo-modal-pagamento {
     width: 130px;
     margin: 10px 0 30px 0;
     display: block;
 }
 
 @media screen and (max-width:700px) {
     .logo-modal-pagamento {
         width: 130px;
         margin: 10px auto 30px auto;
         display: block;
     }
 }