/* Modal */

.rv-modal {
    display: none;
}

.rv-modal-fundodetras {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.rv-modal-p {
    width: 30% !important;
    top: 10vh !important;
    left: 35% !important;
}

.rv-modal-m {
    width: 50% !important;
    top: 10vh !important;
    left: 25% !important;
    min-width: fit-content !important;
}

.rv-modal-g {
    width: 80% !important;
    top: 10vh !important;
    left: 10% !important;
}

.rv-modal-conteudo {
    position: fixed;
    top: 10vh;
    left: 20%;
    width: 60%;
    max-height: 80vh;
    min-height: fit-content;
    background: #fff;
    z-index: 10101;
    border: 1px solid #7a7a7a7a;
    border-radius: 5px;
    overflow-y: auto;
}

.rv-modal-cabecalho {
    width: 95%;
    padding: 2.5%;
    min-height: 15px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rv-modal-cabecalho h3 {
    color: #7a7a7a
}

.rv-modal-corpo {
    width: 95%;
    max-height: 80%;
    min-height: 30%;
    display: flex;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    padding: 2.5%;
}

.rv-modal-pes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Butões */

.rv-btn-r {
    width: 15px;
    height: 15px;
    background: #eaeaea;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #eaeaea;
    cursor: pointer;
}

.rv-btn {
    height: 30px;
    background: #eaeaea;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    cursor: pointer;
}

.rv-btn-p {
    width: 50px;
}

.rv-btn-m {
    width: 85px;
}

.rv-btn-g {
    width: 110px;
}

.rv-btn-um {
    background: #000099 !important;
}

.rv-btn-dois {
    background: #009900 !important;
}

.rv-btn-tres {
    background: red !important;
}


/* CORES DE TEXTOS */

.rv-txt-cl-um {
    color: #000099 !important;
}

.rv-txt-cl-dois {
    color: #009900 !important;
}

.rv-txt-cl-tres {
    color: red !important;
}


/* Float */

.rv-direita {
    float: right;
}

.rv-esquerda {
    float: left;
}


/* Margens */

.rv-margem-5 {
    margin: 5px;
}

.rv-margem-10 {
    margin: 10px;
}

.rv-margem-15 {
    margin: 15px;
}

.rv-margem-20 {
    margin: 20px;
}

.rv-margem-25 {
    margin: 25px;
}

.rv-margem-30 {
    margin: 30px;
}


/* CLASSES */

.rv-flex-centro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rv-largura-100 {
    width: 100% !important;
}

.rv-txt-centro {
    text-align: center !important;
}

.rv-cursor {
    cursor: pointer !important
}


/* COLLAPSE */

.rv-collapse {
    display: none;
}